{% if section.settings.show_brand_list == true %}
<div class="page-width">
  <div class="section-block section-block--padding" style="background-color:{{ section.settings.bck_color }};">
    {% if section.settings.title != blank %}
      <div class="section-block__header text-center">
        <h4 class="h1--mini section-block__title">{{ section.settings.title | escape }}</h4>
      </div>
    {% endif %}

    <div class="flex flex--grid flex--grid-center">
      {% for block in section.blocks %}
        <div class="flex__item flex__item--fixed flex flex--center-vertical one-half medium-up--one-quarter text-center" {{ block.shopify_attributes }}>
          <div class="flex__item">
            <div class="image-block">
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | img_url: '250x250' }}" alt="{{ block.settings.image.alt }}" class="image-block__image">
              {% else %}
                <div class="image-block__image">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
            </div>
            {% if block.settings.brand_title != blank %}
            	<h5 class="brand-logo">{{ block.settings.brand_title }}</h5>
            	{% if block.settings.brand_info != blank %}
	            	<p class="brand-info">{{ block.settings.brand_info }}</p>
            	{% endif %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}
  </div>
</div>
{% endif %}


{% schema %}
{
  "name": {
    "de": "Logoliste",
    "en": "Logo list",
    "es": "Lista de logotipos",
    "fr": "Liste des logos",
    "it": "Elenco loghi",
    "ja": "ロゴリスト",
    "nl": "Logolijst",
    "pt-BR": "Lista de logotipos",
    "zh-CN": "徽标列表",
    "zh-TW": "標誌清單"
  },
  "class": "index-section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_brand_list",
      "label": {
		"fr":"Activer",
		"en":"Enable"
	  },
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "nl": "Kop",
        "pt-BR": "Título",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "de": "Logoliste",
        "en": "Logo list",
        "es": "Lista de logotipos",
        "fr": "Liste des logos",
        "it": "Elenco loghi",
        "ja": "ロゴリスト",
        "nl": "Logolijst",
        "pt-BR": "Lista de logotipos",
        "zh-CN": "徽标列表",
        "zh-TW": "標誌清單"
      }
    },
    {
       "type":      "color",
       "id":        "bck_color",
       "label":     "Background color",
       "default":   "#FFFFFF"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": {
        "de": "Logo",
        "en": "Logo",
        "es": "Logotipo",
        "fr": "Logo",
        "it": "Logo",
        "ja": "ロゴ",
        "nl": "Logo",
        "pt-BR": "Logotipo",
        "zh-CN": "徽标",
        "zh-TW": "商標"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fr": "Image",
            "it": "Immagine",
            "ja": "画像",
            "nl": "Afbeelding",
            "pt-BR": "Imagem",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
		{
		"type": "text",
		"id": "brand_title",
		"label": {
        	"en": "Heading",
        	"fr": "Titre"
      	},
		"default": "title"
		},
		{
		"type": "text",
		"id": "brand_info",
		"label": {
        	"en": "Description",
        	"fr": "Description"
      	},
		"default": "Description"
		}
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Logoliste",
        "en": "Logo list",
        "es": "Lista de logotipos",
        "fr": "Liste des logos",
        "it": "Elenco loghi",
        "ja": "ロゴリスト",
        "nl": "Logolijst",
        "pt-BR": "Lista de logotipos",
        "zh-CN": "徽标列表",
        "zh-TW": "標誌清單"
      },
      "category": {
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}
